body {
    background-color:rgb(184, 174, 129);
  }
h1 {color:rgb(34, 51, 53);}
img {
width: 250px;
border: 10px solid black;     
}
.topnav {
  overflow: hidden;
background-color: black;
}
.topnav a:hover {
 background-color: aqua; 
color: black;
}
.topnav a:active {
background-color: aquamarine;
color: rgb(93, 219, 34);
}
